# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
.contentlayer

# Testing
coverage

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Cache
.cache
.temp
.eslintcache
*.tsbuildinfo

# GitHub Pages
# docs 디렉토리는 GitHub Pages에 배포할 것이므로 제외하지 않습니다 

# turbo
.turbo
